
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <div id="username">
            <label>Username</label>
            <input type="text"/>
        </div>
        <div id="password">
            <label>Password</label>
            <input type="password"/>
        </div>
        <button>Đăng nhập</button>
        <button>Đăng ký</button>
    </div>
</body>
</html>
